.my_nav_bar{
    top:0;
    position: sticky;
    z-index: 99999;
}
body
{
    text-align: center;
}
img{
    height:65%;
    width: 80%;
    margin-top: 5%;
}
.travel_mainDiv{
    border: 1px solid lightgrey;
}
.travel_mainDiv img{
    width: 100%;
    
}
.travel_mainDiv h5, .travel_mainDiv p{
    margin: 20px;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.movie_head{
    float:center;


}
.achievment1_text span{
    color: orange;
}

img{
    width:50%;
}
.new{
    margin-bottom: 20px;

}
#contact iframe{
    width: 100%;
}

