.my_nav_bar{
    top:0;
    position: sticky;
    z-index: 99999;
}
body
{
    text-align: center;
}
img{
    height:65%;
    width: 80%;
    margin-top: 5%;
}
.travel_mainDiv{
    border: 1px solid lightgrey;
}
.travel_mainDiv img{
    width: 100%;
}
.travel_mainDiv h5, .travel_mainDiv p{
    margin: 20px;
}